&share
 wrf_core = 'ARW',
 max_dom = 1,
 start_date = '__START__',
 end_date   = '__END__',
 interval_seconds = 21600,
 io_form_geogrid = 2,
/

&geogrid
 parent_id         = 1,
 parent_grid_ratio = 1,
 i_parent_start    = 1,
 j_parent_start    = 1,
 e_we          = __E_WE__,
 e_sn          = __E_SN__,
 geog_data_res = 'default',
 dx = __DX__,
 dy = __DX__,
 map_proj = 'mercator',
 ref_lat   = __REF_LAT__,
 ref_lon   = __REF_LON__,
 truelat1  = __REF_LAT__,
 truelat2  = 0.0,
 stand_lon = __REF_LON__,
 geog_data_path = '__GEOG__',
/

&ungrib
 out_format = 'WPS',
 prefix = 'ERA5',
/

&metgrid
 fg_name = 'ERA5',
 io_form_metgrid = 2,
/
